<p>
  <button class="btn {{ if .Get 2}}btn-{{ .Get 2}}{{ else }} btn-info{{ end }} btn-sm btn-block" type="button" data-toggle="collapse" data-target="#{{ .Get 0 }}" aria-expanded="false" aria-controls="{{ .Get 0 }}">
    {{ if eq (.Get 2) "danger"}}<i class="fas fa-exclamation-circle"></i> {{ end }}
    {{ if eq (.Get 2) "success"}}<i class="fas fa-check-circle"></i> {{ end }}
    {{ .Get 1 }}
    {{ if eq (.Get 2) "danger"}} <i class="fas fa-exclamation-circle"></i>{{ end }}
    {{ if eq (.Get 2) "success"}} <i class="fas fa-check-circle"></i>{{ end }}
  </button>
</p>
<div class="collapse" id="{{ .Get 0 }}"> 
  <div class="card card-body{{ if eq (.Get 2) "danger"}} border-danger{{ end }}{{ if eq (.Get 2) "success"}} border-success{{ end }}">
    {{ .Inner | markdownify }}
  </div>
</div>
